body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e2e2e2;
}

header .title {
  margin-top: -2em;
  padding-top: 1em;
  padding-bottom: 0.2em;
  background-color: black;
}

header h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 36px;
}

header .bio {
  display: inline-block;
  margin-left: 14em;
  margin-top: 4em;
}

header .bio img {
  border: 1px solid #009879;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
}

header .bio h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.4em;
  margin-top: 2em;
  margin-left: 8.5em;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

header div .biography {
  width: 35em;
  margin-left: 21em;
  margin-bottom: 3em;
}

header div .biography p {
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}

.main-skills {
  padding-top: 2em;
  background-color: #bbbbbb;
}

.main-skills .skills {
  display: inline-block;
  margin-left: 14em;
}

.main-skills .skills .language h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.main-skills .skills .language ul li {
  list-style: none;
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
}

.main-skills .skills .language ul img {
  width: 100px;
}

.main-skills .skills .language ul .js:hover {
  -webkit-box-shadow: -3px 3px 2px 1px #009879;
          box-shadow: -3px 3px 2px 1px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .language ul .go:hover {
  -webkit-box-shadow: -3px 3px 2px 1px #009879;
          box-shadow: -3px 3px 2px 1px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .language ul .dart:hover {
  -webkit-box-shadow: 0px 3px #009879;
          box-shadow: 0px 3px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .language ul .mysql:hover {
  -webkit-box-shadow: 3px 3px 2px 1px #009879;
          box-shadow: 3px 3px 2px 1px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .language ul .mongodb:hover {
  -webkit-box-shadow: 3px 3px 2px 1px #009879;
          box-shadow: 3px 3px 2px 1px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .framework {
  margin-top: 2em;
  margin-bottom: 2em;
}

.main-skills .skills .framework h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.main-skills .skills .framework ol li {
  list-style: none;
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
}

.main-skills .skills .framework ol img {
  width: 100px;
}

.main-skills .skills .framework ol .react:hover {
  -webkit-box-shadow: -3px 3px 2px 1px #009879;
          box-shadow: -3px 3px 2px 1px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .framework ol .node:hover {
  -webkit-box-shadow: -3px 3px 2px 1px #009879;
          box-shadow: -3px 3px 2px 1px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .framework ol .express:hover {
  -webkit-box-shadow: 0px 3px #009879;
          box-shadow: 0px 3px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .framework ol .flutter:hover {
  -webkit-box-shadow: 3px 3px 2px 1px #009879;
          box-shadow: 3px 3px 2px 1px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills .framework ol .echo:hover {
  -webkit-box-shadow: 3px 3px 2px 1px #009879;
          box-shadow: 3px 3px 2px 1px #009879;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main-skills .skills #riwayat-pendidikan {
  width: 25em;
  margin-left: 15em;
}

.main-skills .skills #riwayat-pendidikan h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.main-skills .skills #riwayat-pendidikan .styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.main-skills .skills #riwayat-pendidikan .styled-table thead {
  background-color: #009879;
  color: white;
  text-align: left;
}

.main-skills .skills #riwayat-pendidikan .styled-table th, .main-skills .skills #riwayat-pendidikan .styled-table td {
  padding: 12px 15px;
}

.main-skills .skills #riwayat-pendidikan .styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}

.main-skills .skills #riwayat-pendidikan .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.main-skills .skills #riwayat-pendidikan .styled-table tbody .sd:hover {
  color: red;
}

.main-skills .skills #riwayat-pendidikan .styled-table tbody .smp:hover {
  color: blue;
}

.main-skills .skills #riwayat-pendidikan .styled-table tbody .sma:hover {
  color: skyblue;
}

.main-contact {
  background-color: #e2e2e2;
}

.main-contact .contact {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 17em;
  width: 30em;
}

.main-contact .contact h3 {
  text-align: center;
}

.main-contact .contact form {
  width: 540px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 40px -10px #000;
          box-shadow: 0 0 40px -10px #000;
  margin-left: 7em;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-contact .contact form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}

.main-contact .contact form input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

.main-contact .contact form input:focus {
  border-bottom: 2px solid #78788c;
}

.main-contact .contact form input:before {
  content: attr(type);
  display: block;
  font-size: 14px;
  color: #5a5a5a;
}

.main-contact .contact form button {
  float: right;
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-contact .contact form button:hover {
  background: #78788c;
  color: white;
}

footer {
  margin-top: -1em;
  color: #f0f9ff;
  background-color: #282d32;
}

footer p {
  text-align: center;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
  header .bio {
    margin-left: 5em;
    margin-top: 4em;
  }
  header .bio img {
    border: 1px solid #009879;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  header .bio h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.7em;
    margin-top: 1em;
    margin-left: 8.5em;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
  }
  header div .biography {
    width: 26em;
    margin-left: 14.5em;
    margin-bottom: 3em;
  }
  header div .biography p {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
  }
  .main-skills {
    padding-top: 2em;
    background-color: #bbbbbb;
  }
  .main-skills .skills {
    display: inline-block;
    margin-left: 5em;
    width: 40em;
  }
  .main-skills .skills .language h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  .main-skills .skills .language ul li {
    list-style: none;
    display: inline;
    margin-left: 2em;
    margin-right: 2em;
  }
  .main-skills .skills .language ul img {
    width: 100px;
  }
  .main-skills .skills .language ul .js:hover, .main-skills .skills .language ul .mysql:hover {
    -webkit-box-shadow: -3px 3px 2px 1px #009879;
            box-shadow: -3px 3px 2px 1px #009879;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .main-skills .skills .language ul .go:hover, .main-skills .skills .language ul .mongodb:hover {
    -webkit-box-shadow: 0px 3px #009879;
            box-shadow: 0px 3px #009879;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .main-skills .skills .language ul .dart:hover {
    -webkit-box-shadow: 3px 3px 2px 1px #009879;
            box-shadow: 3px 3px 2px 1px #009879;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .main-skills .skills .framework {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .main-skills .skills .framework h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  .main-skills .skills .framework ol li {
    list-style: none;
    display: inline;
    margin-left: 2em;
    margin-right: 2em;
  }
  .main-skills .skills .framework ol img {
    width: 100px;
  }
  .main-skills .skills .framework ol .react:hover, .main-skills .skills .framework ol .flutter:hover {
    -webkit-box-shadow: -3px 3px 2px 1px #009879;
            box-shadow: -3px 3px 2px 1px #009879;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .main-skills .skills .framework ol .node:hover, .main-skills .skills .framework ol .echo:hover {
    -webkit-box-shadow: 0px 3px #009879;
            box-shadow: 0px 3px #009879;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .main-skills .skills .framework ol .express:hover {
    -webkit-box-shadow: 3px 3px 2px 1px #009879;
            box-shadow: 3px 3px 2px 1px #009879;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .main-skills .skills #riwayat-pendidikan {
    width: 25em;
    margin-left: 7em;
  }
  .main-skills .skills #riwayat-pendidikan h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .main-skills .skills #riwayat-pendidikan .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table th, .main-skills .skills #riwayat-pendidikan .styled-table td {
    padding: 12px 15px;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody .sd:hover {
    color: red;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody .smp:hover {
    color: blue;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody .sma:hover {
    color: skyblue;
  }
  .main-contact {
    background-color: #e2e2e2;
  }
  .main-contact .contact {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 1em;
    width: 45em;
  }
  .main-contact .contact h3 {
    text-align: center;
  }
  .main-contact .contact form {
    width: 550px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 40px -10px #000;
            box-shadow: 0 0 40px -10px #000;
    margin-left: 5em;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  .main-contact .contact form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
  }
  .main-contact .contact form input {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  .main-contact .contact form input:focus {
    border-bottom: 2px solid #78788c;
  }
  .main-contact .contact form p:before {
    content: attr(type);
    display: block;
    font-size: 14px;
    color: #5a5a5a;
  }
  .main-contact .contact form button {
    float: right;
    padding: 8px 12px;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main-contact .contact form button:hover {
    background: #78788c;
    color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  header .bio {
    margin-left: 0em;
    margin-top: 4em;
    padding-left: 8em;
  }
  header .bio img {
    border: 1px solid #009879;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  header .bio h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 12em;
    margin-left: -2em;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
  }
  header div .biography {
    width: 19.5em;
    margin-left: -2.5em;
    margin-bottom: 3em;
    text-align: center;
  }
  header div .biography p {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
  }
  .main-skills {
    padding-top: 2em;
    background-color: #bbbbbb;
  }
  .main-skills .skills {
    display: inline-block;
    margin-left: 8em;
    width: 16em;
  }
  .main-skills .skills .language h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  .main-skills .skills .language ul li {
    list-style: none;
    display: inline;
    margin-left: 2em;
    margin-right: 2em;
  }
  .main-skills .skills .language ul li:hover {
    -webkit-box-shadow: 0 3px 2px 1px #009879;
            box-shadow: 0 3px 2px 1px #009879;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .main-skills .skills .language ul li .mongodb, .main-skills .skills .language ul li .echo {
    margin-left: 0em;
  }
  .main-skills .skills .language ul img {
    width: 100px;
  }
  .main-skills .skills .framework {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .main-skills .skills .framework h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  .main-skills .skills .framework ol li {
    list-style: none;
    display: inline;
    margin-left: 2em;
    margin-right: 2em;
  }
  .main-skills .skills .framework ol li:hover {
    -webkit-box-shadow: 0 3px 2px 1px #009879;
            box-shadow: 0 3px 2px 1px #009879;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .main-skills .skills .framework ol img {
    width: 100px;
  }
  .main-skills .skills #riwayat-pendidikan {
    width: 16em;
    margin-left: 0em;
  }
  .main-skills .skills #riwayat-pendidikan h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 200px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .main-skills .skills #riwayat-pendidikan .styled-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table th, .main-skills .skills #riwayat-pendidikan .styled-table td {
    padding: 12px 15px;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody .sd:hover {
    color: red;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody .smp:hover {
    color: blue;
  }
  .main-skills .skills #riwayat-pendidikan .styled-table tbody .sma:hover {
    color: skyblue;
  }
  .main-contact {
    background-color: #e2e2e2;
  }
  .main-contact .contact {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 4em;
    width: 25em;
  }
  .main-contact .contact h3 {
    text-align: center;
  }
  .main-contact .contact form {
    width: 350px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 40px -10px #000;
            box-shadow: 0 0 40px -10px #000;
    margin-left: 1em;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  .main-contact .contact form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
  }
  .main-contact .contact form input {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  .main-contact .contact form input:focus {
    border-bottom: 2px solid #78788c;
  }
  .main-contact .contact form p:before {
    content: attr(type);
    display: block;
    font-size: 14px;
    color: #5a5a5a;
  }
  .main-contact .contact form button {
    float: right;
    padding: 8px 12px;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main-contact .contact form button:hover {
    background: #78788c;
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */