body {
  margin: 0;
  font-family: "Roboto Slab", serif;
}

.jumbotron {
  width: 60rem;
}

.img-jmb {
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  border-radius: 50%;
  border: 2px solid #009879;
}

.bio h2, .bio h3, .bio p {
  text-align: left;
}

.btn {
  background-color: #009879;
}

.btn:hover {
  background-color: #00c09a;
}

.js:hover, .go:hover, .dart:hover, .mysql:hover, .mongodb:hover, .react:hover, .node:hover, .express:hover, .flutter:hover, .echo:hover {
  cursor: pointer;
  box-shadow: 0px 3px #009879;
  transition: all 500ms ease-in-out;
}

footer {
    line-height: 50px;
    margin-bottom: 0;
}

.bg-secondary {
  background-color: rgb(202, 202, 202) !important;
}

.table-head {
  background-color: #009879;
}

.table-last-row {
  border-bottom: 3px solid#009879;
}

.green-color-text {
  color: #009879;
}

.container table {
  width: 500px;
}

.contact .card {
  width: 500px;
}

@media screen and (max-width:576px) {
  .img-jmb {
    margin-bottom: 2rem;
    margin-left: -43rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #009879;
  }

  .bio h2 {
    font-size: 18px;
  }
  
  section {
    width: 15rem;
  }

  section h3 {
    font-size: 16px;
  }

  section p {
    font-size: 14px;
  }

  .container table {
    width: 30px;
  }
  .contact .card {
    width: 350px;
  }
/* 
  .js, .go, .dart, .mysql, .mongodb, .react, .node, .express, .flutter, .echo {
    width: 25px;
    height: 25px;
  } */
}